fastapi
uvicorn[standard]
pydantic
email-validator
pinecone
sentence-transformers
python-docx
numpy
pathlib
typing-extensions
python-dotenv
pywin32
pytest
supabase
python-multipart
openai>=1.13.3
httpx
